<div class="content">
  <div class="usuarios-container">
    <h2>Usuarios</h2>

    <!-- Barra de búsqueda y filtro -->
    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar usuario..."
        [(ngModel)]="searchTerm"
        (input)="filtrarUsuarios()"
      />
      <!-- Botón de agregar usuario -->
      <!-- Mostrar botón solo si rol es 1 -->
      <button (click)="abrirModal(false)">+</button>
    </div>

    <!-- Tabla de usuarios -->
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosFiltrados">
          <td>{{ usuario.usuPNombre }}</td>
          <td>{{ usuario.usuPApellido }}</td>
          <td>{{ usuario.usuEmail }}</td>
          <td>{{ usuario.usuPuesto }}</td>
          <td>{{ usuario.usuTelMovil }}</td>
          <td>{{ usuario.usuEstado }}</td>
          <td>
            <button (click)="editUsuario(usuario)">✏️</button>
            <button (click)="deleteUsuario(usuario.usuId)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal" [class.show]="modalAbierto">
      <div class="modal-content">
        <h2 class="">
          {{ editando ? "Editar Usuario" : "Crear Usuario" }}
        </h2>
        <p class="text-center">Todos los campos con * son obligatorios</p>
        <form (ngSubmit)="guardarUsuario()">
          <div class="form-grid">

            <!-- <div *ngIf="!editando">
              <label for="usuId">Usuario:</label>
              <input
                type="text"
                id="usuId"
                [(ngModel)]="usuario.usuId"
                name="usuId"
                required
              />
            </div> -->

            <!-- <div *ngIf="editando">
              <label for="usuId">* Usuario:</label>
              <input
                type="text"
                id="usuId"
                [(ngModel)]="usuario.usuId"
                name="usuId"
                readonly
              />
            </div> -->

            <div>
              <label for="nombre">* Nombre:</label>
              <input
                type="text"
                id="nombre"
                [(ngModel)]="usuario.usuPNombre"
                name="usuPNombre"
                (input)="generarUsuarioId()"
                [class.error]="!usuario.usuPNombre && formSubmitted"
                required
              />
              <div *ngIf="!usuario.usuPNombre && formSubmitted" class="error-message">
                El nombre es obligatorio.
              </div>
            </div>

            <div>
              <label for="apellido">* Apellido:</label>
              <input
                type="text"
                id="apellido"
                [(ngModel)]="usuario.usuPApellido"
                name="usuPApellido"
                (input)="generarUsuarioId()"
                [class.error]="!usuario.usuPApellido && formSubmitted"
                required
              />
              <div *ngIf="!usuario.usuPApellido && formSubmitted" class="error-message">
                El apellido es obligatorio.
              </div>
            </div>

            <div>
              <label for="cui">* CUI:</label>
              <input
                type="text"
                id="cui"
                [(ngModel)]="usuario.usuCui"
                name="usuCui"
                maxlength="13"
                [class.error]="usuario.usuCui?.length !== 13 && usuario.usuCui"
                required
              />
              <div
                *ngIf="usuario.usuCui?.length !== 13 && usuario.usuCui"
                class="error-message"
              >
                El DPI debe tener exactamente 13 caracteres.
              </div>
            </div>

            <div>
              <label for="nit">NIT:</label>
              <input
                type="text"
                id="nit"
                [(ngModel)]="usuario.usuNit"
                name="usuNit"
                maxlength="9"
                [class.error]="usuario.usuNit?.length !== 9 && usuario.usuNit"
                required
              />
              <div
                *ngIf="usuario.usuNit?.length !== 9 && usuario.usuNit"
                class="error-message"
              >
                El NIT debe tener exactamente 9 caracteres.
                </div>
            </div>

            <div>
              <label for="fechaNacimiento">* Fecha de Nacimiento:</label>
              <input
                type="date"
                id="fechaNacimiento"
                [(ngModel)]="usuario.usuFecNacimiento"
                name="usuFecNacimiento"
                [max]="fechaMaximaNacimiento"
                [class.error]="(!usuario.usuFecNacimiento || !fechaNacimientoValida()) && formSubmitted"
                required
              />
              <!-- Mensaje de error si el campo está vacío -->
              <div *ngIf="!usuario.usuFecNacimiento && formSubmitted" class="error-message">
                La fecha de nacimiento es obligatoria.
              </div>
              <!-- Mensaje de error si la fecha es posterior al 31 de diciembre de 2007 -->
              <div *ngIf="usuario.usuFecNacimiento && !fechaNacimientoValida() && formSubmitted" class="error-message">
                La fecha de nacimiento no puede ser posterior al 31 de diciembre de 2007.
              </div>
            </div>

            <div>
              <label for="fechaIngreso">* Fecha de ingreso:</label>
              <input
                type="date"
                id="fechaIngreso"
                [(ngModel)]="usuario.usuFecIngreso"
                name="usuFecIngreso"
                required
              />
              <div
                *ngIf="!usuario.usuFecIngreso && formSubmitted"
                class="error-message"
              >
                La fecha de ingreso es obligatorio.
              </div>
            </div>

            <div>
              <label for="direccion">* Dirección:</label>
              <input
                type="text"
                id="direccion"
                [(ngModel)]="usuario.usuDireccion"
                name="usuDireccion"
                required
              />
              <div
                *ngIf="!usuario.usuDireccion && formSubmitted"
                class="error-message"
              >
                La dirección es obligatorio.
              </div>
            </div>

            <div>
              <label for="telefono">* Teléfono Móvil:</label>
              <input
                type="text"
                id="telefono"
                [(ngModel)]="usuario.usuTelMovil"
                name="usuTelMovil"
                maxlength="8"
                required
              />
              <div
                *ngIf="!usuario.usuTelMovil && formSubmitted"
                class="error-message"
              >
                El teléfono móvil es obligatorio.
              </div>
              <div
                *ngIf="usuario.usuTelMovil?.length!== 8 && usuario.usuTelMovil"
                class="error-message"
              >
                El teléfono móvil debe tener exactamente 8 dígitos.
                </div>  
            </div>

            <div>
              <label for="genero">* Género:</label>
              <select
                id="genero"
                [(ngModel)]="usuario.usuGenero"
                name="usuGenero"
                required
              >
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
              <div
                *ngIf="!usuario.usuGenero && formSubmitted"
                class="error-message"
              >
                El género es obligatorio.
              </div>
            </div>

            <div>
              <label for="estado">* Estado:</label>
              <select
                id="estado"
                [(ngModel)]="usuario.usuEstado"
                name="usuEstado"
                required
              >
                <option value="A">Activo</option>
                <option value="I">Inactivo</option>
              </select>
              <div
                *ngIf="!usuario.usuEstado && formSubmitted"
                class="error-message"
              >
                El estado es obligatorio.
              </div>
            </div>

            <div>
              <label for="puesto">Puesto:</label>
              <input
                type="text"
                id="puesto"
                [(ngModel)]="usuario.usuPuesto"
                name="usuPuesto"
                required
              />
            </div>

            <div>
              <label for="rol">* Rol:</label>
              <select
                id="rol"
                [(ngModel)]="usuario.rolId"
                name="rolId"
                required
              >
                <option *ngFor="let rol of roles" [value]="rol.rolId">
                  {{ rol.rolNombre }}
                </option>
              </select>
              <div
                *ngIf="!usuario.rolId && formSubmitted"
                class="error-message"
              >
                El rol es obligatorio.
              </div>
            </div>

            <div>
              <label for="contraseña">* Contraseña:</label>
              <input
                type="password"
                id="contraseña"
                [(ngModel)]="usuario.usuContrasena"
                name="usuContraseña"
                required
              />
              <div
                *ngIf="!usuario.usuContrasena && formSubmitted"
                class="error-message"
              >
                La contraseña es obligatoria.
              </div>
            </div>

            <div>
              <label for="email">* Email:</label>
              <input
                type="email"
                id="email"
                [(ngModel)]="usuario.usuEmail"
                name="usuEmail"
                required
              />
              <div
                *ngIf="!usuario.usuEmail && formSubmitted"
                class="error-message"
              >
                El email es obligatorio.
              </div>
            </div>
          </div>

          <!-- Botones fuera del grid -->
          <div class="modal-buttons">
            <button type="submit" class="boton">
              {{ editando ? "Actualizar" : "Crear" }}
            </button>
            <button type="button" (click)="cerrarModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
