<div class="dashboard">
    <h2>Panel de Mantenimiento</h2>
    <div class="cards-container">
      <div class="card">
        <h3>Configuracion de roles</h3>
        <p>Ver y editar Roles del sistema.</p>
        <!-- Este botón navega a la ruta 'configuraciones' dentro del módulo de mantenimiento -->
        <button routerLink="configuraciones">Configuraciones de Roles</button>
        </div>
        <div class="card">
        <h3>Configuracion de categorias</h3>
        <p>Ver y editar categorias del sistema.</p>
        <!-- Este botón navega a la ruta 'categorias' dentro del módulo de mantenimiento -->
<button routerLink="categorias">Configuraciones de categorias</button>
        </div>
    </div>
  </div>  
  