.container {
    display: flex;
    height: 100vh;
  }
  
  /* Ajusta el contenido para que se mueva con el sidebar */
  .content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Mismo ancho del sidebar */
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* Si el sidebar está contraído, el contenido se ajusta */
  .sidebar:not(.expanded) + .content {
    margin-left: 80px;
  }
  