<div class="report-container">
  <h1>Reportes</h1>
  <button class="export-pdf-btn" (click)="exportarPDF()">Exportar PDF</button>
  <div class="charts-grid" id="contenido-a-exportar">
    <!-- Chart 1: Resumen de Stock -->
    <div class="chart-item">
      <h2>Resumen de Stock</h2>
      <canvas
        baseChart
        [datasets]="barChartData.datasets"
        [labels]="barChartData.labels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [plugins]="barChartPlugins"
        [type]="barChartType"
      >
      </canvas>
    </div>
    
    <!-- Chart 2: Disponibilidad de Productos -->
    <div class="chart-item">
      <h3>Disponibilidad de Productos</h3>
      <canvas
        #barChartDisponibilidad
        baseChart
        [data]="barChartDataDisponibilidad"
        [type]="barChartTypeDisponibilidad"
        [options]="barChartOptionsDisponibilidad"
      >
      </canvas>
    </div>
   
    <!-- Chart 3: Top 5 productos con más stock -->
    <div class="chart-item">
      <h3>Top 5 productos con más stock</h3>
      <canvas
        #barChartTopProductos
        baseChart
        [data]="barChartDataTopProductos"
        [type]="barChartTypeTopProductos"
        [options]="barChartOptionsTopProductos"
      ></canvas>
    </div>
    
    <!-- Chart 4: Ventas por día -->
    <div class="chart-item">
      <h2>Ventas por día</h2>
      <canvas
        baseChart
        [data]="{
          labels: ventasPorDiaLabels,
          datasets: [{ data: ventasPorDiaData }]
        }"
        [options]="pieChartOptions"
        [type]="'pie'"
        type="pie"
      >
      </canvas>
    </div>
    
    <!-- Chart 5: Productos más vendidos -->
    <div class="chart-item">
      <h2>Productos más vendidos</h2>
      <canvas
        baseChart
        [data]="{
          labels: productosMasVendidosLabels,
          datasets: [{ data: productosMasVendidosData }]
        }"
        [options]="pieChartOptions"
        [type]="'pie'"
        type="pie"
      >
      </canvas>
    </div>
    
    <!-- Chart 6: Ventas totales por cantidad vendida -->
    <div class="chart-item">
      <h3>Ventas totales por cantidad vendida</h3>
      <div class="pie-chart-container">
        <canvas
          baseChart
          [data]="{
            labels: ventasPorCantidadLabels,
            datasets: [{ data: ventasPorCantidadData }]
          }"
          [type]="pieChartTypeCantidad"
          [options]="pieChartOptionsCantidad"
          type="pie"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>